FASTAPI_API_URL="http://localhost:8000"
BACKEND_API_URL="http://localhost:4000"
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:4000"


behavioral_question_1="Cuéntame sobre una ocasión en la que tuviste que lidiar con un conflicto en un equipo. ¿Cuál fue la situación, cómo la manejaste y cuál fue el resultado?"
behavioral_question_2="Describe una situación en la que fallaste o cometiste un error importante. ¿Cómo reaccionaste y qué aprendiste de esa experiencia?"